*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:lightseagreen;
}

.riga-sfondo{
    background-color:rgb(16, 206, 16);
    width: 100%;
    height: 70px;
}

.contenitore{
    background-color: white;
    width: 70%;
    height: 90vh;
    margin: -50px auto;
}